body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333333; /* Fundo cinza escuro */
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: linear-gradient(
      325deg,
      #333333 0%,    
      #4f4f4f 30%,  
      #777777 70%,  
      #bdbdbd 100%  
  );
  padding: 40px 60px;
  border-radius: 10px;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #fff;
  background-color: #444444; 
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.reset:hover {
  background-color: #888888; 
}

.reset:focus {
  color: #fff;
  background-color: #262809;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
  border-radius: 8px;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #0a1970;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  border-radius: 8px;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
